.my-table-class {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 8px;
  }
  
  .my-table-class th {
    background-color: #4caf50;
    color: white;
    padding: 8px;
  }
  
  .my-table-class td {
    border: 1px solid #ddd;
    padding: 8px;
  }